.welcome{
    background-color: rgb(44, 177, 27);
}

.website{
    background-color: cyan;
}

.purse{
    background-color: ghostwhite;
}

.button {
    color: rgb(241, 97, 0);
}

.contact{
    background-color: darkkhaki;
}

.form{
    background-color: darkcyan;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.cont{
    background-color: darkturquoise;
}